<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{addressType}}</h4>
    
    
    <div class="form-group row">
      <label for="address" class="col-2 col-form-label">Address</label>
      <div class="col-10">
        <input ngModel #adderss1="ngModel" name="address" class="form-control" type="text" value="">
      </div>
    </div>

    <div class="form-group row">
      <label for="city" class="col-2 col-form-label">City</label>
      <div class="col-10">
        <input ngModel #city="ngModel" name="city" class="form-control" type="text" value="">
      </div>
    </div>

    <div class="form-group row">
      <label for="state" class="col-2 col-form-label">State</label>
      <div class="col-10">
        <input ngModel #state="ngModel" name="state" class="form-control" type="text" value="">
      </div>
    </div>
    <div class="form-group row">
      <label for="postalcode" class="col-2 col-form-label">Postal Code</label>
      <div class="col-10">
        <input ngModel #postalcode="ngModel" name="postalcode" class="form-control" type="text" value="">
      </div>
    </div>
  </div>
</div>